extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let shirtid = toShow._id
    - let shirt_type = toShow.shirt_type
    - let shirt_size = toShow.shirt_size
    - let shirt_value = toShow.shirt_value
    - let actionid = "/resource/cars/" + carid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='shirtAttr mr-3') Shirt ID is:
        div #{shirtid}
      div.row
        div(class='shirtAttr mr-3') Shirt Type is:
        div #{shirt_type}
      div.row
        div(class='shirtAttr mr-3') Shirt Size is:
        div #{shirt_size}
      div.row
        div(class='shirtAttr mr-3') Shirt Value is:
        div #{shirt_value}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the car collection
    window.location.href='/car'
    }
  script.
    function deleteOnid() {
    console.log("starting delete")
    // delete first
    fetch(actionid, {
      method: 'DELETE' // Don't need a body for the delete
    }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
      alert("Delete succeded")
      window.location.href='/car'
      // TODO handle body
    }).catch((error) => {
      // TODO handle error
      alert("Delete failed " + error )
    });
    }